@font-face {
  font-family: 'BernardoModaBold';
  src: local('BernardoModaBold'),
       url('./fonts/BernardoModaBold.ttf') format('ttf'),
}

@font-face {
  font-family: 'BernardoModa';
  src: local('BernardoModa'),
       url('./fonts/BernardoModa.ttf') format('ttf'),
}

h1,h2,h3,h4,h5 {
  font-family: BernardoModaBold;
}

p, body {
  font-family: BernardoModa;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

.page {
  background-color: #f8f8f8;
}

.header {
  background-color: #f8f8f8;
  color: #000;
  padding: 20px;
  text-align: center;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  max-height: 40px; /* Adjust the height based on your logo size */
  margin-right: 10px;
}

.header-link {
  text-decoration: none;
  color: #000;
  margin: 0 20px;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
}

.header-link:hover {
  color: #5c5c5c;
  text-decoration: none;
}

.header-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* Styles for the dropdown */
.dropdown {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-decoration: none;
}

.header-link:hover .dropdown {
  display: block;
}

.dropdown li {
  margin: 10px 0;
  text-decoration: none;
}

.dropdown-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.main {
  padding: 20px;
}

.section {
  margin: 20px 0;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.paragraph {
  font-size: 1.2rem;
}

.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
}

.radical-container {
  display: flex;
  justify-content: center;
}

.radical-section {
  text-align: center;
}

.radical-heading {
  font-size: 2rem;
  font-weight: bold;
}

.radical-description {
  font-size: 1.2rem;
  margin: 20px 0;
}

.radical-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.radical-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radical-button:hover {
  background-color: #333;
}

span {
  cursor: pointer;
}

.collection-strips {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-strip {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.collection-image {
  width: 100%; /* Stretch the image horizontally */
  max-height: 100%; /* Limit the height */
  display: block;
}

.collection-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.collection-name {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.collection-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.collection-button:hover {
  background-color: #000;
  color: #fff;
}

@media (min-width: 768px) {
  /* Adjust styles for larger screens */
  .collection-strips {
    height: 5vh; /* Adjust the height for larger screens */
  }
}

.home-page .section-card {
  background-color: #272727; /* Set background to transparent */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%; /* Cards occupy about 60% of the width */
  overflow: hidden;
}

.home-page .section-card .card-body {
  padding: 20px;
}

.home-page .section-card .card-content {
  display: flex;
  align-items: center;
}

.home-page .section-card .card-text {
  flex: 1; /* Take up remaining space */
}

.home-page .section-card .card-title,
.home-page .section-card .card-text {
  color: #fff; /* Text color inside cards */
}

.home-page .section-card .card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.home-page .section-card .card-text {
  font-size: 18px;
  line-height: 1.6;
}

.home-page .card-image {
  flex-shrink: 0; /* Prevent image from shrinking */
  margin-left: 20px; /* Add some space between text and image */
  max-width: 50%; /* Adjust the maximum width of the image */
}

.home-page .card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}